<div ng-controller="ClipsCtrl">
	<div id="clip-list-container">
	  <ul>
	    <li ng-repeat="clip in clips"
			ng-click="showClip(clip)">
	      <h3>{{clip.title}} <small>({{clip.duration}})</small></h3>
	    </li>
	  </ul>
	</div>

	<div id="clip-view-container" ng-show="selectedClip">
	    <h2>{{selectedClip.title}}</h2>
	    <p>{{selectedClip.summary}}</p>
	    <p>
	      Published at {{selectedClip.published_at | date: 'mediumDate'}}
	      - <a ng-href="{{selectedClip.link}}">{{selectedClip.link}}</a>
	    </p>
	  </div>
	</div>
</div>